<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nttu.csie.project3">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->


    <!-- 打電話 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 傳簡訊 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 通过WiFi或移动基站的方式获取用户错略的经纬度信息，定位精度大概误差在30~1500米 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 通过GPS芯片接收卫星的定位信息，定位精度达10米以内 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!-- Google Map API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            //指定 Theme 的樣式(Application)
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 柱狀圖 -->
        <activity
            android:name=".BarChartActivity"
            android:label="BarChartActivity"
            android:theme="@style/BarChartActivity_ActionBar"
            android:parentActivityName=".MainActivity" />
        <!-- 松霖 -->
        <activity
            android:name=".FallTest"
            android:label="FallTest" />
        <!-- 裕昌 -->
        <activity
            android:name=".StepTest"
            android:label="StepTest" />

        <!-- 地圖元件 -->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/MapsActivity_ActionBar"
            android:parentActivityName=".MainActivity" />
        <!-- 測試JAVA -->
        <activity
            android:name=".test3"
            android:label="test3" />
        <!-- 混合測試 -->
        <activity android:name=".mix" />

        <!-- 卡路里 -->
        <activity
            android:name=".BarChart2Activity"
            android:theme="@style/BarChart2Activity_ActionBar"
            android:parentActivityName=".MainActivity" />
        <!--跌倒紀錄-->
        <activity
            android:name=".FallActivity"
            android:theme="@style/FallActivity_ActionBar"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".Setting"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.nttu.csie.project3.CHOOSE_COLOR"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>